@import 'config/colors';
@import 'config/fonts';

@import 'components/index';

@import 'pages';

body {
  background: $grey;
  margin: 0px;
}

.container {
  width: 90%;
  margin: 0px auto;
  color: $white;
}
